@keyframes heading1 {
  0% {
    transform: translateX(-90rem);
    opacity: 0;
  }
  50% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes nav {
  0% {
    transform: translateY(-50rem);
    opacity: 0;
  }
  50% {
    transform: translateY(-2rem);
  }
  100% {
    tranfrom: translateY(0);
    opacity: 1;
  }
}
@keyframes cta {
  0% {
    opacity: 0;
    transform: translateX(1000rem);
  }
  50% {
    transform: translateX(4rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes left-testimonial {
  0% {
    opacity: 0;
    transform: translateX(-1000rem);
  }
  50% {
    transform: translateX(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes right-testimonial {
  0% {
    opacity: 0;
    transform: translateX(1000rem);
  }
  50% {
    transform: translateX(4rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
@media only screen and (max-width: 65em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 50em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

main {
  padding: 2rem;
}

::selection {
  background-color: #d6336c;
  color: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #dee2e6;
}

.heading-primary {
  font-size: 4.5rem;
  transition: all 250ms;
  animation: heading1 650ms ease-in;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary {
    font-size: 3rem;
  }
}

.hero {
  padding: 5rem;
  background-image: linear-gradient(to right, rgba(52, 58, 64, 0.8), rgba(33, 37, 41, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  color: #fbebf0;
}
.hero__text {
  font-size: 2rem;
  width: 50%;
  margin-top: 7rem;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 37.5em) {
  .hero__text {
    font-size: 1.4rem;
  }
}
.hero__cta {
  border: none;
  padding: 1.5rem 2rem;
  background-color: #d6336c;
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
  transition: all 900ms;
  animation: cta 1200ms ease-in-out;
}

.features {
  margin-top: 8rem;
  color: #212529;
}
.features__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 4rem;
}
.features__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.features__icon {
  font-size: 5rem;
  margin-bottom: 2rem;
  color: #6b1a36;
}
.features__heading {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}
.features__text {
  font-size: 1.4rem;
  text-align: center;
}

.testimonials {
  margin-top: 12rem;
  padding: 10rem 2rem;
  position: relative;
}
.testimonials__container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 5rem;
}
.testimonials__testimonial {
  width: 50%;
  display: flex;
  gap: 2rem;
  padding: 4rem;
  background-color: rgba(255, 255, 255, 0.6);
  transform: skewX(-10deg);
}
@media only screen and (max-width: 50em) {
  .testimonials__testimonial {
    width: 80%;
  }
}
@media only screen and (max-width: 37.5em) {
  .testimonials__testimonial {
    width: 95%;
    transform: skewX(0);
    flex-direction: column;
    align-items: center;
  }
}
.testimonials__image {
  transform: skewX(10deg);
}
@media only screen and (max-width: 37.5em) {
  .testimonials__image {
    transform: skewX(0);
  }
}
.testimonials figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 20%);
  color: #fff;
  font-size: 1.7rem;
  text-transform: uppercase;
  backface-visibility: hidden;
  transition: all 300ms;
  opacity: 0;
}
.testimonials figure {
  position: relative;
}
.testimonials figure:hover .testimonials__image {
  filter: blur(5px);
}
.testimonials figure:hover figcaption {
  opacity: 100%;
  transform: translate(-50%, -50%);
}
.testimonials__text {
  transform: skewX(10deg);
  font-size: 1.5rem;
  color: #212529;
  display: flex;
  flex-direction: column;
  gap: 15%;
}
.testimonials__text span {
  color: #65727e;
}
.testimonials .testimonial1 {
  transition: all 500ms;
  animation: left-testimonial 900ms ease-out 2s;
}
.testimonials .testimonial2 {
  transition: all 500ms;
  animation: right-testimonial 900ms ease-out 2s;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden;
}
.bg-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.specials {
  margin-top: 12rem;
  padding: 2rem;
}
.specials__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 5rem;
}
.specials__special {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  text-align: center;
  background-color: #212529;
  color: #d6336c;
}
.specials__heading {
  font-size: 2.5rem;
  color: #dee2e6;
  margin-bottom: 2.5rem;
}
.specials__price {
  font-size: 4.5rem;
  font-weight: 300;
}
.specials__price span {
  font-size: 2.5rem;
}
.specials__list {
  margin-top: 2.4rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.5rem;
  text-align: left;
  color: #dee2e6;
}
.specials__list-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.specials .fa-check-circle {
  color: springgreen;
}
.specials .fa-times-circle {
  color: crimson;
}
.specials .advanced .specials__list {
  margin-bottom: 3rem;
}
.specials__button {
  margin-top: auto;
  width: 100%;
  background-color: #d6336c;
  color: #fff;
  padding: 2rem 0;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 200ms;
}
.specials__button:hover {
  background-color: #a61e4d;
}
.specials .best {
  position: relative;
  overflow: hidden;
}
.specials .best .best-offer {
  display: inline-block;
  padding: 0.5rem 8.8rem;
  background-color: #d6336c;
  color: #dee2e6;
  text-transform: uppercase;
  font-size: 1.4rem;
  transform: rotateZ(30deg) translateX(7.5rem) translateY(-2rem);
  position: absolute;
  top: 0;
  right: 5%;
}
@media only screen and (max-width: 50em) {
  .specials .best .best-offer {
    font-size: 1.1rem;
    transform: rotateZ(30deg) translateX(7.5rem) translateY(-3rem);
  }
}

.gallery {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(9, 5vw);
  gap: 1.5rem;
  padding: 2rem;
  transition: all 300ms;
}
.gallery__item {
  overflow: hidden;
  transition: all 300ms;
}
.gallery__item--1 {
  grid-column: 1/5;
  grid-row: 1/4;
}
.gallery__item--2 {
  grid-row: 1/3;
  grid-column: 5/-1;
}
.gallery__item--3 {
  grid-column: 3/5;
  grid-row: 4/7;
}
.gallery__item--4 {
  grid-row: 3/6;
  grid-column: 5/-1;
}
.gallery__item--5 {
  grid-row: 4/8;
  grid-column: 1/3;
}
.gallery__item--6 {
  grid-row: 8/-1;
  grid-column: 1/3;
}
.gallery__item--8 {
  grid-row: 7/-1;
  grid-column: 3/6;
}
.gallery__item--9 {
  grid-row: 6/8;
  grid-column: 6/8;
}
.gallery__item--10 {
  grid-row: 8/-1;
  grid-column: 6/8;
}
.gallery__img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: all 300ms;
}
.gallery__img:hover {
  transform: scale(1.1);
}

.contact {
  margin-top: 8rem;
  background-color: #343a40;
  padding-top: 3rem;
}
.contact h2 {
  font-size: 4rem;
}
@media only screen and (max-width: 37.5em) {
  .contact h2 {
    text-align: center;
  }
}
.contact__container {
  display: flex;
}
@media only screen and (max-width: 37.5em) {
  .contact__container {
    flex-direction: column;
  }
}
.contact__form {
  padding: 2rem;
  padding-top: 5rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
@media only screen and (max-width: 37.5em) {
  .contact__form {
    margin: 0 auto;
    width: 70%;
  }
}
.contact__form input, .contact__form select {
  width: 80%;
  padding: 1rem;
  color: #212529;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.116);
}
.contact__form input:focus, .contact__form select:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(214, 51, 108, 0.1);
  border-bottom: 5px solid seagreen;
}
.contact__form input:focus:invalid, .contact__form select:focus:invalid {
  border-bottom: 5px solid crimson;
}
@media only screen and (max-width: 50em) {
  .contact__form input, .contact__form select {
    width: 100%;
  }
}
.contact__form input::placeholder {
  color: #aaa;
}
.contact__image {
  width: 50vw;
  margin-left: auto;
}
@media only screen and (max-width: 37.5em) {
  .contact__image {
    width: 100%;
    margin-left: 0;
  }
}
.contact button {
  padding: 2rem 3rem;
  background-color: #d6336c;
  color: white;
  border: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer;
}
.contact button:hover {
  background-color: #a61e4d;
}

.header {
  display: flex;
  padding: 4rem;
  height: 9rem;
}
.header__logo {
  height: 3rem;
}
.header__nav {
  margin-left: auto;
  transition: all 350ms;
  animation: nav 780ms ease-out 200ms;
}
@media only screen and (max-width: 65em) {
  .header__nav {
    display: none;
  }
}
.header__mobile-button {
  display: none;
  background-color: transparent;
  font-size: 3.3rem;
  margin-left: auto;
  color: #d6336c;
  cursor: pointer;
  border: none;
}
@media only screen and (max-width: 65em) {
  .header__mobile-button {
    display: block;
  }
}
.header__list {
  display: flex;
  gap: 5rem;
  list-style: none;
}
.header__list-link:link, .header__list-link:visited {
  text-decoration: none;
  color: #212529;
  font-size: 1.7rem;
  transition: all 250ms;
}
.header__list-link:hover, .header__list-link:active {
  color: #a61e4d;
}
.header__list-link--cta:link, .header__list-link--cta:visited {
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: #d6336c;
  color: #fff;
}
.header__list-link--cta:hover, .header__list-link--cta:active {
  background-color: #a61e4d;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.52);
  z-index: 990;
  backdrop-filter: blur(2px);
  visibility: hidden;
  opacity: 0;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: #333;
  padding: 2rem;
  border: 4px solid #d6336c;
  box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.32);
  transition: all 350ms;
  opacity: 0;
  visibility: hidden;
}
.modal__close-button {
  position: absolute;
  right: 2%;
  top: 1%;
  font-size: 1.8rem;
  cursor: pointer;
}
.modal__close-button:hover {
  color: #d6336c;
}
.modal__close-button:active {
  transform: translateY(3px);
}
.modal__form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
.modal__form input, .modal__form select {
  width: 90%;
  padding: 1rem;
  color: #212529;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.116);
}
.modal__form input:focus, .modal__form select:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(214, 51, 108, 0.1);
  border-bottom: 5px solid seagreen;
}
.modal__form input:focus:invalid, .modal__form select:focus:invalid {
  border-bottom: 5px solid crimson;
}
.modal__form input::placeholder {
  color: #aaa;
}
.modal__form button {
  padding: 2rem 3rem;
  background-color: #d6336c;
  color: white;
  border: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer;
}
.modal__form button:hover {
  background-color: #a61e4d;
}

.mobile-nav {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 400ms;
  opacity: 0;
  visibility: hidden;
}
.mobile-nav .close-mobile-nav {
  font-size: 4.5rem;
  color: #d6336c;
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}
.mobile-nav .close-mobile-nav:hover {
  color: #a61e4d;
}
.mobile-nav__list {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.mobile-nav__list-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  color: #212529;
  transition: all 400ms;
}
.mobile-nav__list-link:hover {
  color: #343a40;
}
.mobile-nav .cta {
  color: #d6336c;
  font-weight: bold;
}
.mobile-nav .cta:hover {
  color: #f783ac;
}

.open {
  visibility: visible;
  opacity: 1;
}

.footer {
  background-color: #212529;
  padding: 2rem;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
}
.footer__image {
  width: 5rem;
}

/*# sourceMappingURL=style.comp.css.map */
