//COLORS
$color-primary:#d6336c;
$color-primary-light:#f783ac;
$color-primary-dark:#a61e4d;

$color-grey-dark:#212529;
$color-grey-dark-1:#343a40;
$color-grey-light-1:#ced4da;
$color-grey-light-2:#dee2e6;


//MEDIA QUERIES - RESPONSIVE BREAKPOINTS
$bp-largest:75em; //1200px
$bp-large:65em; //1040px
$bp-medium:50em; //800px
$bp-small: 37.5em;//600px