@use "../abstracts/" as *;
@use "../base/" as *;
@use "../components/" as *;

.footer{
    background-color: #212529;
    padding:2rem;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    font-size: 1.4rem;
    &__image{
        width: 5rem;
    }
}