@use "../abstracts" as *;
@use "../base" as *;

.specials{
    margin-top: 12rem;
    padding:2rem;
    &__container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
        gap:5rem;
    }
    &__special{
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
        text-align: center;
        background-color: $color-grey-dark;
        color:$color-primary
    }
    &__heading{
        font-size: 2.5rem;
        color:$color-grey-light-2;
        margin-bottom: 2.5rem;
    }
    &__price{
        font-size: 4.5rem;
        font-weight: 300;
        span{
            font-size: 2.5rem;
        }
    }
    &__list{
        margin-top: 2.4rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap:1.5rem;
        font-size: 1.5rem;
        text-align: left;
        color:$color-grey-light-2;
    }

    &__list-item{
        display: flex;
        gap:1rem;
        align-items: center;
    }
    .fa-check-circle{
        color:springgreen;
    }
    .fa-times-circle{
        color:crimson;
    }
    .advanced{
        .specials__list{
            margin-bottom: 3rem;
        }
    }
    &__button{
        margin-top: auto;
        width: 100%;
        background-color: $color-primary;
        color:#fff;
        padding:2rem 0;
        border:none;
        font-size: 1.5rem;
        cursor:pointer;
        letter-spacing: 1px;
        transition:all 200ms;
        &:hover{
            background-color: $color-primary-dark;
        }
    }
    .best{
        position: relative;
        overflow: hidden;
    }
    .best .best-offer{
        display: inline-block;
        padding:.5rem 8.8rem;
        background-color:$color-primary;
        color: $color-grey-light-2;
        text-transform: uppercase;
        font-size: 1.4rem;
        transform:rotateZ(30deg) translateX(7.5rem) translateY(-2rem);
        position: absolute;
        top:0; right:5%;
        @media only screen and (max-width:$bp-medium){
            font-size: 1.1rem;
            transform:rotateZ(30deg) translateX(7.5rem) translateY(-3rem);
        }
    }
}